body {
	background: #FFF;
	height: 100vh;
	padding: 0;
	margin: 0;
}

.flex-box {
	top: 0;
	left: 0;
	display: flex;
	align-items: stretch;
	justify-content: left;
}

.btn {
	font-size: 16px !important;
}

a {
	cursor: pointer;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

input[type="checkbox"]{	
	transform : scale(1.5);	
}

.bootstrap-table {
	width: 100%;
}

.bootstrap-table .pagination-detail {
	padding-left: 10px;
	font-weight: 600;
	font-size: 16px;
	text-align: left;
}

.bootstrap-table .pagination {
	justify-content: center;
}

.bootstrap-table .pagination-detail .btn {
	margin: 0px 5px;
	font-size: 1.1em;
}

.bootstrap-table .pagination-detail .dropdown-menu {
	min-width: 3.5rem !important;
	text-align: center !important;
	font-weight: 400;
}

.content_table_box {
	margin-bottom: 20px !important;
}

.fixed-table-toolbar>.columns-right {
	display: none;
}

.btn {
	border: none !important;
}

.font-bold {
	font-weight: 600;
}

.btn-default {
	background: #4285F4;
	color: white;
}

.btn-default:hover, .content_button_box .btn-default:active {
	background: #0B51C5;
}

.btn-primary {
	background: #2BBBAD;
	color: white;
}

.btn-primary:hover, .btn-primary:active {
	background: #186860 !important;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control
	{
	cursor: not-allowed;
	background-color: #eeeeee !important;
}

.icon-info {
	color: #333333;
}

.icon-primary {
	color: #2BBBAD;
}

.icon-default {
	color: #4285F4;
}

.icon-danger {
	color: #ff3547;
}

.flex-row {
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
}

#__top_header {
	height: 60px;
	width: 100%;
	padding: 0px;
	position: fixed;
	z-index: 10;
	top: 0%;
	border-image: linear-gradient(to right, #2f59a5 0%, #349880 100%);
	border-image-slice: 1;
	border-bottom: 4px solid;
}

#__bottom_box {
	height: 50px;
	width: 100%;
	padding: 0px;
	position: fixed;
	z-index: 10;
	bottom: 0%;
    background: #162136;
	flex-direction: row-reverse;
}

#lg-top-header {
	height: 100%;
	width: 100%;
	background: white;
	justify-content: space-between;
	background: #162136;
}

#lg-top-menu-seal-logo {
    height: 100%;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

#lg-title {
	display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    color: white;
    align-items: center;
    padding-right: 10px;
    font-size: 20px;
}

#sm-top-header {
    height: 100%;
    width: 100%;
    background: #162136;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

#sm-top-menu-seal-logo {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

#sm-title {
	display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    color: white;
    align-items: center;
    padding-right: 10px;
    font-size: 12px;
}


#__cotent_box {
	height: 100%;
	width: 100%;
	padding: 0px;
	position: fixed;
	z-index: 10;
	top: 60px;
	background: yellow;
}

#lg-content-box {
	height: 100%;
	width: 100%;
	background: #F1F3FA;
	padding-bottom: 50px;
}

#main_content {
	height: 100%;
	width: 100%;
	overflow: auto;
}

#content-wrapper {
    width: 100%;
    padding: 10px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    padding-bottom: 120px;
}

#content-wrapper #contentPage {
	display: flex;
    flex-direction: row;
    justify-content: space-evenly;
	width: 100%;
}

#content-wrapper #contentPage .page-wrap {
    max-width: 1080px;
	padding: 0px 10px;
	width: 100%;
}

#content-wrapper #contentBtnBox {
    height: 60px;
    display: flex;
    padding: 20px 10px 0 10px;
    align-items: center;
    justify-content: space-between;
    border-top: 3px solid #e6e5e5;
    width: 100%;
    max-width: 1080px;
}

#contentBtnBox .btn-box .btn {
    width: 76px;
    height: 38px;    
    border-radius: 20px;
    font-weight: bold;
}

#prebtn {	
    border: 2px solid #034ea2 !important;
    color: #034ea2
}

#nextbtn {	
    background-color: #034ea2 !important;
    color: #FFF
}


#content-wrapper .content-item {
	margin: 10px 0px;
}

.page-wrap > .content_title {
	font-size: 28px;
    text-align: center;
    color: #034ea2;
    margin-bottom: 30px !important;
    font-weight: 550;
}

.content_button_box {
	height: 40px;
	line-height: 40px;
	text-align: right;
}

.content_reg_button_box {
	height: 40px;
	line-height: 40px;
	text-align: right;
	margin-bottom: 50px;
}

.content_summary_box {
	font-size: 16px;
	font-weight: 600;
	color: #101010;
}

.content_button_box .btn {
	width: 80px;
	min-width: 80px;
	flex: 0 0 40px;
	box-shadow: 0 0 12px 0 rgb(0 0 0/ 10%);
	border-radius: 5px;
	font-size: 1em;
	color: #FFF;
}

.content_check_box {
	display: flex;
    flex-direction: column;
    align-items: center;	
}

.content_selete_box {
	max-height: 40px;
	line-height: 40px;
	text-align: left;
}

.content_selete_box .form-contractor {
	display: flex;
	height: 100%;
}

.content_selete_box .select-title {
	border-radius: 5px;
	font-size: 1em;
	font-weight: 600;
	text-align: left;
	flex: 0 0 50px;
	min-width: 50px;
}

.content_selete_box .select-content {
	max-width: 280px;
	height: 100% !important;
	flex: 0 0 100%;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 600;
	text-align: left;
}

.content_date_box {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	height: 40px;
	line-height: 40px;
	text-align: left;
}

.content_date_box .title {
	font-size: 1em;
	font-weight: 600;
	text-align: left;
	flex: 0 0 80px;
	min-width: 80px;
}

.content_date_box .hasDatepicker {
	cursor: pointer;
	max-width: 250px;
	height: 100% !important;
	flex: 0 0 100%;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	background: #FFF;
}

.datepicker {
	cursor: pointer;
}

.content_data_count_box {
	font-size: 1.5em;
	font-weight: 600;
}

.bootstrap-table i {
	font-size: 1.5em;
}

.modal-content {
	border: 1px solid black !important;
}

.fade.in {
	opacity: 1;
}

.modal-backdrop {
	z-index: 0;
}

table .mobile-wrap {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

table .mobile-item {
	font-size: 16px;
	display: flex;
	padding: 3px;
	font-weight: 600;
}


@media ( min-width : 576px) {
	#content-wrapper .content-item .btn-wrap {
	    width: 400px;
	    height: 400px;
	}
}

@media ( max-width : 575px) {
	#content-wrapper .content-item .btn-wrap {
	    width: 200px;
	    height: 200px;	    

	}
}

.img-box > img {
	width: 100%;
	height: 100%;
}

#content-wrapper .content_box {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

#content-wrapper .content-item .btn-wrap {
    display: flex;
    border-radius: 20px;
    margin: 5px;
    border: 2px solid #e6e5e5;
    align-items: center;
    justify-content: space-around;
	cursor: pointer;
	font-size: 6vw;
}

#content-wrapper .content-item #workIn {
	background: linear-gradient(-150deg, #305073, #162136);
    color: white;
}

#content-wrapper .content-item #workIn:hover {
    background: white;
    border: 3px solid #4285F4;
    color: #4285F4;
}

#content-wrapper .content-item #workOut {
    background: linear-gradient(-150deg, #51cb85, #399039);
    color: white;
}

#content-wrapper .content-item #workOut:hover {
    background: white;
    border: 3px solid #2BBBAD;
    color: #2BBBAD;
}




#content-wrapper .content-item .btn-wrap .img-box {
    width: 300px;
    height: 300px;
}

#content-wrapper .content_table_box  {
	display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#content-wrapper .content_table_box table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    background-color: #fff;
}

#_page_2 table th {
    color: #034ea2;
    letter-spacing: -1px;
    border: 1px solid #b4bfe6;
	text-align: center;
}

#_page_2 table td {
	color: #034ea2;
	letter-spacing: -1px;
    border: 1px solid #b4bfe6;
    text-align: center;
	padding: 5px;
}

.agree {
	position: relative;
    margin-top: 8px;
    padding: 10px 0;
    font-size: 18px;
    text-align: center;
    background-color: #efefef;
}

.agree label {
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
}


#_page_0 #page1Table #certkey_box .default-item-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 5px;
}

#_page_0 #page1Table #certkey_box .default-item-box .title {
    min-width: 100px;
    width: 5%;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #ced4da;
    height: 40px;
    line-height: 40px;
    background: #ffffff;
}

#_page_0 #page1Table #certkey_box .default-item-box .content {
	height: 100% !important;
    padding: 0;
    font-size: 1em;
    border: none;
    font-weight: 600;
    width: 100%;
    position: relative;
}

#_page_0 #page1Table #certkey_box #resendMsgCertKey {
	display: none;
}

#_page_0 #page1Table #certkey_box .default-item-box .content #countDown {
    position: absolute;
    top: 7px;
    right: 10px;
    font-size: 16px;
    color: #e30512;
}

.content_info_box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px 10px 0px 10px;
}

.info_wrap {
    width: 400px;
    height: 200px;
}

.info_box {
  	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 2vh;
    background: #E0E0E0;
    width: 100%;
    height: 100%;
    position: relative;
    margin-right: 0.43%;
    border: 0.2vh solid #dee2e6;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.24), 0 4px 12px 0 rgba(0, 0, 0, 0.19);
    padding: 1vh 0vh 1vh 1vh;
}

.photo_box {
	flex: 0 0 110px;
}

.photo_box img{
    width: 120px;
    height: 170px;
    border: 1px solid #dee2e6;
}

.detail_box {
    flex: 100%;
    padding: 0px 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.time_box {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.worker {
    height: 35px;
    line-height: 35px;
    font-size: 16px;
}

#_uw_work_min {
    color: white;
    font-weight: bold;
    border-radius: 5px;
    flex: 0 0 70px;
    text-align: center;
}

#_uw_start_time {
	font-weight: bold;
	color: #666;
}

.time_box .green {
	background: linear-gradient(180deg, #25B869, #009245, #006B31);
}

.time_box .yellow {
	background: linear-gradient(180deg, #F7D11E, #F7A91E, #E45624);
}

.time_box .red {
	background: linear-gradient(180deg, #ED797E, #ED1C24, #C1272D);
}

.content-check-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    background: #EFEFEF;
    height: 100%;
    margin-top: 10px;
    justify-content: space-between;
    border: 1px solid #dee2e6;
	padding: 10px 15px;
}

.content-check-box .duty {
	height: 15px;
    width: 15px;
	margin-left: 10px;
}

.content-check-box .duty_label {
	margin-left: 20px;
	font-weight: bold;
    padding: 10px 10px;
}

.content-img .duty_img{
	width: 100%;
}

.content-img {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#_page_0 #page1Table th {
    font-size: 0.9em;
    min-width: 150px;
    background: white;
    color: #666;
	width: 25%;
}

#_page_0 #page1Table td {
    height: 40px;
    font-size: 0.9em;
}

#_page_0 #page1Table td input {
    height: 40px;
    font-size: 0.9em;
}

#_page_0 #page1Table .img_btn_wrapper {
    height: 40px;
    width: 100%;
    margin-top: 10px;
}

#_page_0 #page1Table .img_btn_box {
    height: 100%;
    min-width: 100px;
    max-width: 120px;
    flex: 0 0 40px;
    box-shadow: 0 0 12px 0 rgb(0 0 0 / 10%);
    border-radius: 5px;
    font-size: 1em;
    color: #FFF;
    float: right;
    text-align: center;
    line-height: 40px;
    margin-left: 5px;
    padding: 0;
    position: relative;
    cursor: pointer;
}

#_page_0 #page1Table .item {
    height: 40px;
    max-width: 100% !important;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #dedede;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-size: 0.85em;
    cursor: not-allowed;
    font-weight: 600;
}

#_page_0 #page1Table #certkey_box .info-title-box {
    width: 100%;
    text-align: left;
    font-size: 1em;
    font-weight: 600;
    border-left: 3px solid #153A6E;
    height: 20px;
    line-height: 20px;
    padding-left: 8px;
    color: #223540;
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

#_page_0 #page1Table #certkey_box {
	display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
}

#_page_3 .reg-table th {
    font-size: 18px;
    min-width: 150px;
    background: white;
    color: #666;
	width: 25%;
}

#_page_3 .reg-table td input {
    height: 40px;
    font-size: 0.9em;
}

#_page_3 #regTable .item {
    height: 40px;
    max-width: 100% !important;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #dedede;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-size: 0.85em;
    cursor: not-allowed;
    font-weight: 600;
}
