.table-container {
    max-width: 100%;
    width: 100%;
}

.content_table_box  {
	display: flex;
    align-items: center;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
}

#noticeViewTable {
	margin-bottom: 20px;
}

#noticeViewTable th {
    min-width: 50px;
    width: 50px;
	background: #FFF;
	font-size: 0.9em;
}

#noticeViewTable th.required {
	color: #FF3547;
	font-weight: 600;		
}

#noticeViewTable td input, #noticeViewTable td select{
	height: 40px;
	font-size: 0.85em;
	max-width: 100% !important;
	background: #FFF;
	padding-left: 5px;
}

#noticeViewTable td .item{
   	height: 40px;
    max-width: 100% !important;
    background: #FFF;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-size: 0.85em;
}

#noticeViewTable td .item-btn {
    height: 40px;
    min-width: 90px;
}

#noticeViewTable .size-fix {
    max-width: 250px;
    max-height: 250px;
    border: 1px solid #D4D4D4;
    margin-bottom: 10px;
}

#noticeViewTable .file-input-hidden {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    background: red;
}

#noticeViewTable .img_btn_wrapper {
	height: 40px;
    width: 100%;
    margin-top: 10px;
}

#noticeViewTable .img_btn_box { 
    min-width: 100px;    
	max-width: 120px;
    flex: 0 0 40px;
    box-shadow: 0 0 12px 0 rgb(0 0 0 / 10%);
    border-radius: 5px;
    font-size: 1em;
    color: #FFF;
    float: right;
    text-align: center;
    line-height: 40px;
    margin-left: 5px;
    padding: 0;
    position: relative;
    cursor: pointer;
} 

#noticeViewTable td .comment-box {
	padding: 10px;
}

#noticeViewTable td .reply-box {
    margin: 5px 0;
    padding: 0 0 0 5px;
	height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
	position: relative;
}

#noticeViewTable td .reply-box .reply-input {
    height: 40px;
    font-size: 0.9em;
    background: #FFF;
    flex: 0 0 100%;
    max-width: 100% !important;
}

#noticeViewTable td .reply-box .reply-btn {
    right: 5px;
    max-width: 100px;
    min-width: 80px;
    position: absolute;
}

#noticeViewTable .item-comment-box {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    background: #FAFAFA;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin: 5px 0px;
	padding: 10px;
    align-content: center;
}

#noticeViewTable .item-comment-box .comment-info, .item-reply-box .comment-info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    width: 100%;
    padding: 10px;
}

#noticeViewTable .item-comment-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 0.9em;
}

#noticeViewTable .item-comment-body {
    font-size: 0.9em;
    height:35px;
    line-height: 35px;
    overflow: auto;
}

#noticeViewTable .item-comment-footer {
    height: 20px;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
}

#noticeViewTable td .item-comment-footer .btn {
	height: 20px;
    min-width: 30px;
    line-height: 0;
}

#noticeViewTable .comment-box img {
	height: 80px;
	width: 80px;
}

#noticeViewTable .item-comment-box .show-mobile {
	font-size: 0.8em;
}

#noticeViewTable .item-mobile-comment-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 0.9em;
}

#noticeViewTable .item-reply-box {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    background: #f0eeee;
    border: 1px dotted #C4C4C4;
    border-radius: 1rem;
    margin: 5px 0px;
    padding: 10px;
    align-content: center;
    margin-left: 35px;
    position: relative;
}

#noticeViewTable .item-reply-box:before {
    content: "\f3e5";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    left: -33px;
    top: 5px;
    position: absolute;
    transform: rotate(180deg);
    font-size: 1.5em;
}

#noticeViewTable .item-reply-box .show-mobile {
	font-size: 0.8em;
}

#noticeViewTable td .file-box{
	max-height: 200px;
	height: 200px;
	max-width: 100% !important;
    background: #FFF;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    overflow: auto;
}

#noticeViewTable td .file-item {
   	height: 60px;
    max-width: 100% !important;
    background: #FFF;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	margin: 5px 0;
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

#noticeViewTable td .file-item > div {
	margin: 0 5px;
}

#noticeViewTable td .file-item .file-icon {
    flex: 0 0 20px;
    font-size: 1.5em;
}

#noticeViewTable td .file-item .file-name {
  	font-size: 0.8em;
    font-weight: 600;
    color: #000;    
}