<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.cons.man.persistence.ApprovalMapper">
 
 	<select id="getApprovalList" resultType="ApprovalVO" parameterType="Integer">
		SELECT * FROM approval_state
		WHERE type = #{type}
	</select>
   	
 </mapper>