<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cons.man.persistence.ManageMapper">

	<select id="getWorkTypeList" parameterType="Integer" resultType="WorkTypeVO">
		SELECT *
		FROM work_type_view
		where
			site_id = #{site_id}
		ORDER BY t_name
	</select>
	
	<insert id="insertWorkType"  parameterType="WorkTypeVO">
    	INSERT INTO w_type(t_name, useyn, gubun, site_id, writer_user_id, write_time)
    	VALUES (
    		#{t_name}, 'Y', #{gubun}, #{site_id}, #{writer_user_id}, NOW())
    	ON DUPLICATE KEY UPDATE 
    		gubun = #{gubun},
    		useyn = 'Y',
    		writer_user_id = #{writer_user_id},
    		write_time = NOW()
	</insert>
	
	<update id="deletetWorkType" parameterType="WorkTypeVO">
		UPDATE w_type set useyn = 'N', write_time = now(), writer_user_id = #{writer_user_id} WHERE id = #{id}
	</update>
	
	<select id="getWorkStateListFromWeb" parameterType="Integer" resultType="WorkStateVO">
		SELECT ws.*, u.name as writer_name
		FROM work_state ws
		LEFT JOIN user u
		ON u.id = ws.u_id
		WHERE
			site_id = #{site_id}
			AND ws.useyn = 'Y'				
			AND (ws.id >= 0
            AND ws.id != 99)
		ORDER BY ws.id = 0 DESC
	</select>
	
	
	<select id="getWorkStateList" parameterType="Integer" resultType="WorkStateVO">
		SELECT ws.*, u.name as writer_name
		FROM work_state ws
		LEFT JOIN user u
		ON u.id = ws.u_id
		WHERE
			site_id = #{site_id}
			AND ws.useyn = 'Y'	
		ORDER BY id DESC
	</select>
	
	<insert id="insertWorkState"  parameterType="WorkTypeVO">
    	INSERT INTO work_state(site_id, name, code, color, u_id, useyn, write_time)
    	VALUES (
    		#{site_id}, #{name}, 'U', #{color}, #{u_id}, 'Y', NOW())
    	ON DUPLICATE KEY UPDATE 
    		name = #{name},
			color = #{color},    
    		u_id = #{u_id},
    		write_time = NOW()
	</insert>
	
	<update id="deletetWorkState" parameterType="WorkStateVO">
		UPDATE work_state set useyn = 'N', write_time = now(), u_id = #{u_id} WHERE id = #{id}
	</update>
	
	<insert id="insertSectionData" parameterType="SectionVO">
		INSERT INTO section (
			site_id,
			place_id,
			section,
			type,
			group_id,
			alias,
			name,
			floor,
			useyn,
			writer_user_id,
			write_time
		)
		VALUES (
			#{site_id},
			0,
			0,
			0,
			0,
			NULL,
			#{section_name},
			#{floor},
			'Y',
			#{writer_user_id},
			NOW()
		)
	</insert>
	
	<update id="updateSectionAutoNumber" parameterType="SectionVO">
		UPDATE section
		SET
			section = id,
			writer_user_id = #{writer_user_id},
			write_time = NOW()
		WHERE
			id = LAST_INSERT_ID()
			AND site_id = #{site_id}
	</update>
	
	<update id="updateSectionData" parameterType="SectionVO">
		UPDATE section
		SET
			name = #{section_name},
			floor = #{floor},
			writer_user_id = #{writer_user_id},
			write_time = NOW()
		WHERE
			id = #{id}
			AND site_id = #{site_id}
	</update>
	
	<update id="deleteSectionData" parameterType="SectionVO">
		UPDATE section
		SET
			useyn = 'N',
			write_time = NOW(),
			writer_user_id = #{writer_user_id}
		WHERE id = #{id}
	</update>
	
</mapper>

