<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cons.man.persistence.MonitorMapper">  
	<select id="getOpenWeatherAPIInfo" resultType="WeatherInfoVO" parameterType="Integer">
		SELECT * FROM WEATHER WHERE SITE_ID = #{site_id}
	</select>
	
	<select id="getLastHoleId" resultType="HoleVO" parameterType="Integer">
		SELECT * FROM hole_log_view
		WHERE site_id = #{site_id}
		ORDER BY ID DESC limit 1
	</select>
	
	<select id="getLastDidId" resultType="DidSettingVO" parameterType="Integer">
		SELECT * FROM did_setting
		WHERE site_id = #{site_id}
		ORDER BY ID DESC limit 1
	</select>
	
</mapper>

