<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cons.man.persistence.QRMapper">

	<select id="checkUWDuplicatePhone" resultType="Integer"  parameterType="String" >
		SELECT count(*) FROM uw_view
		WHERE phone = #{phone}
	</select>

 	<insert id="insertUserTemp" parameterType="UserVO" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
		INSERT INTO	USER(id, cont_id, role_code, name, userid, password, phone, useyn, write_time, ismanager, last_update_time)
		VALUES(#{id}, #{cont_id}, #{role_code}, #{name}, #{userid}, #{password}, #{phone}, 'Y', NOW(), 0, NOW())
	</insert>
	
	<insert id="insertWorkerTemp" parameterType="WorkerVO" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
		INSERT INTO	WORKER(site_id, cont_id, phone, gubun, name, jumin, t_id, delyn, last_update_time)
		VALUES(#{site_id}, #{cont_id}, #{phone}, #{gubun}, #{name}, #{jumin}, #{t_id}, 'N', NOW())
	</insert>
	
	<insert id="insertQRInData" parameterType="QrVO">
		REPLACE INTO qr_inout(site_id, uw_id, role, start_time, read_time, last_update_time)
    	VALUES(#{site_id}, #{uw_id}, #{role}, NOW(), NOW(), NOW())
	</insert>
	
	<insert id="insertQROutData" parameterType="QrVO">
		DELETE FROM qr_inout 
		WHERE uw_id = #{uw_id}
		AND role = #{role}
	</insert>
	
	<insert id="insertQRInoutLog" parameterType="QrVO">
		INSERT INTO qr_inout_log(site_id, uw_id, role, type, comment, write_date, write_time)
    	VALUES(#{site_id}, #{uw_id}, #{role}, #{type}, #{comment}, DATE(NOW()), NOW())
	</insert>
	
	<select id="getQRInoutLogToday" resultType="QrVO" parameterType="Integer" >
		SELECT * FROM qr_inout_log_view
		WHERE site_id = #{site_id}
		AND write_date = DATE(NOW())
	</select>
	
	<select id="getQRInoutLog" resultType="QrVO"  parameterType="Integer" >
		SELECT * FROM qr_inout_log_view
		WHERE site_id = #{site_id}
		AND write_date = DATE(NOW())
	</select>
	
	<select id="getQRInoutLogList" resultType="QrVO"  parameterType="QrVO" >
		SELECT * FROM qr_inout_log_view
		WHERE site_id = #{site_id}
		AND write_date = #{input_date}
	</select>
	
	
 
</mapper>