<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cons.man.persistence.SectionMapper">

	<select id="getSectionList" resultType="SectionVO" parameterType="Integer">
	 	SELECT *		
		FROM section_view	
		WHERE
			site_id = #{site_id}
		ORDER BY section
 	</select> 	
 	
 	<select id="getQrSectionData" resultType="SectionVO" parameterType="Integer">
	 	SELECT *		
		FROM section_view	
		WHERE
			1=1
			<if test="site_id > 0">
			AND site_id = #{site_id}
        	</if>
	    	<if test="place_id > 0">
	        AND place_id = #{place_id}
	    	</if>
	    	<if test="section > 0">
	        	AND section = #{section}
	    	</if>
		ORDER BY section
 	</select> 	
 	
 	<insert id="insertSectionData"  parameterType="SectionVO">
    	INSERT INTO section(site_id, section, name, floor, useyn, write_user_id, write_time)
    	VALUES (#{site_id}, #{section}, #{section_name}, #{floor} 'Y', #{write_user_id}, NOW())
	</insert>
 	
 	<select id="checkSectionDuplicate" resultType="SectionVO" parameterType="Integer">
	 	SELECT SEC.*
		FROM section SEC
			LEFT JOIN scanner S
			ON S.site_id  = SEC.site_id
			AND S.place_id  = SEC.place_id
			AND S.section  = SEC.section
		WHERE S.id is NULL
		AND SEC.section = #{section}	
 	</select>
 
</mapper>