.table-container {
    max-width: 100%;
    width: 100%;
}

/* 기본틀  */
.search{
	margin: 0 !important;
}

.search input {
	margin: 5px 5px 0px 5px;
}

.content_report_box  {
	background: white;
	width: 100%;
	height: 100%;
	border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 5px 10px;
    margin-bottom: 50px !important;
}

.content_report_box .item-box {
	margin: 5px 0;
}

.content_report_box .default-item-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}

.content_report_box .default-item-box .title {
    min-width: 100px;
    width: 5%;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #ced4da;
    height: 40px;
    line-height: 40px;
    background: #F4F4F6;
}

.content_report_box .default-item-box .content {
    width: 95%;
    text-align: left;
    font-size: 16px;
    border: 1px solid #ced4da;
	padding: 5px 10px;
    height: 40px;
    line-height: 30px;
}

.content_report_box .unique-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  	flex-direction: column;
    margin-top: 10px;
}

.content_report_box .info-title {
    min-width: 150px;
    width: 10%;
    text-align: left;
    font-size: 1.2em;
    font-weight: 600;
    border-left: 3px solid #153A6E;
    height: 20px;
    line-height: 20px;
    padding-left: 10px;
    color: #223540;
    margin: 10px 0px;
}

.content_report_box .info-title-box {
	width: 100%;
    text-align: left;
    font-size: 1.2em;
    font-weight: 600;
    border-left: 3px solid #153A6E;
    height: 20px;
    line-height: 20px;
    padding-left: 10px;
    color: #223540;
    margin: 10px 0px;
	display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.content_report_box .info-title-box .btn {
    font-size: 1.2em;
}

.unique-item-box {
	max-width: 100% !important;
    background: #FFF;
    display: block;
    padding: 10px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-size: 16px;
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    overflow-x: auto;
    min-height: 100px;
}

/* 기본정보 */
.content_report_box .form-control {
    height: 100% !important;
    padding: 0;
    font-size: 1em;
    border: none;
    font-weight: 600;
}

.content_report_box .required {
	color: #FF3547;
	font-weight: 600;		
}

/* 평가기간 */
.content_report_box .content .datepicker {
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    background: #FFF;
    cursor: pointer;
    max-width: 120px;
    display: block;
    float: left;
}

.content_report_box .content .sub-datepicker {
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    background: #FFF;
    cursor: pointer;
    max-width: 120px;
    display: block;
    float: left;
}


#check-item-box::-webkit-scrollbar {
    height: 5px;
    background-color: #ced4da;
}

#check-item-box .check-item {
	float:left;
    height: 200px;
    min-width: 160px;
	width: 160px;
    padding: 10px;
    border: 1px solid #e0e0e0;
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: center;
    text-align: center;
}

#check-item-box .check-item .cont-name {
	font-size: 16px;
    background: #F4F4F6;    
	font-weight: 600;
}

#check-item-box .check-item .role-name {
	font-size: 16px;
}

#check-item-box .check-item .name {
	font-size: 18px;
    font-weight: 600;
}

#check-item-box .check-item .phone {
    font-size: 16px;
}

/* 결재 (앞단) */

#approval-item-box::-webkit-scrollbar {
    height: 5px;
    background-color: #ced4da;
}

#approval-item-box .approval-item {
	float:left;
    min-height: 150px;
    min-width: 120px;
	width: 120px;
    padding: 10px;
    border: 1px solid #e0e0e0;
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: center;
    text-align: center;
    overflow: auto;
}

#approval-item-box .approval-item::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #ced4da;
}

#approval-item-box .approval-item .role-name {
    background: #F4F4F6;
    font-size: 0.8em;
    font-weight: 600;
}

#approval-item-box .approval-item .name {
    font-size: 0.8em;
}

#approval-item-box .approval-item .approval-state {
    font-size: 0.9em;
    font-weight: 600;
}

#approval-item-box .approval-item .approval-time {
    font-size: 0.8em;
}

/* 결재 (팝업) */

#approval_modal {
    border: 1px solid black;
}

#approval_modal .modal-content {
    max-height: 800px;
    overflow: auto;
}

#approval_modal .modal-header {
    width: 100%;
    text-align: left;
    font-size: 1.2em;
    line-height: 20px;
	padding: 5px 10px;
    color: #223540;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height: 50px;
}

#approval_modal .modal-header > .title{
    min-width: 150px;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    height: 20px;
    line-height: 20px;
    padding-left: 5px;
    color: #223540;
    margin: 10px 0px;
}

#approval_modal .modal-header .btn-box{
	min-width: 50px;
    text-align: left;
    font-weight: 600;
    height: 20px;
    line-height: 20px;
    color: #223540;
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
}

#approval_modal .modal-header .btn-box .btn {
    font-size: 25px;
}

#approval_modal .modal-body {
    width: 100%;
    text-align: left;
    font-size: 1em;
    line-height: 20px;
	padding: 5px 10px;
    color: #223540;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 10px;    
}

#approval_modal .modal-body > div {
	width: 100%;
	padding: 5px;
}

#approval_modal .modal-body .title{
    min-width: 150px;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    height: 20px;
    line-height: 20px;
    padding-left: 10px;
    color: #223540;
    margin: 10px 0px;
    border-left: 3px solid #153A6E;
}

#approval_modal .modal-body .cont{
    display: flex;
    flex-direction: row;
    align-items: center;
	justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: center;
    width: 100%;
    height: 40px;
    margin: 10px 0px;
}

#approval_modal .modal-body .cont .sub-title {
    min-width: 50px;
    text-align: left;
    font-size: 16px;
	font-weight: 600;
}

#approval_modal .sub-title::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 6px;
    border-radius: 4px;
    width: 4px;
    height: 4px;
}

#approval_modal .modal-body .cont .select-box {
    height: 100%;
    min-width: 180px;
}

#approval_modal .modal-body .cont .select-box select {
    height: 40px;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
}

#approval_modal .modal-body .user-list-wrap {
	min-height: 420px;	
}

#approval_modal .modal-body .user-list-wrap .table {
    max-height: 300px;
    margin: 2px;
    border: 1px solid #ced4da;
    overflow: auto;
    overflow-x: hidden;
    font-size: 0.9em;
}

#approval_modal .modal-body .move-user-action-box {
	display: flex;
	justify-content: space-evenly;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
}

#approval_modal .modal-body .move-user-action-box .btn {
	font-size: 25px;
}

#approval_modal .modal-body .move-user-action-box .btn:hover {
    background: #E0E0E0;
}

#approval_modal .modal-body .approval-list-wrap {
	min-height: 300px;	
}

#approval_modal .modal-body .approval-list-wrap .table {
    max-height: 250px;
    margin: 2px;
	border: 1px solid #ced4da;
	overflow: auto;
    overflow-x: hidden;
    font-size: 0.9em;
}

#approvalUserTable .item-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    align-items: stretch;
    flex-wrap: nowrap;
}

#approvalUserTable .item-box .item{
    padding: 5px 0;
}



/* 점검대상자 */
#checker_modal {
    border: 1px solid black;
}

#checker_modal .modal-content {
    max-height: 800px;
    overflow: auto;
}

#checker_modal .modal-header {
    width: 100%;
    text-align: left;
    font-size: 1.2em;
    line-height: 20px;
	padding: 5px 10px;
    color: #223540;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height: 50px;
}

#checker_modal .modal-header > .title{
    min-width: 150px;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    height: 20px;
    line-height: 20px;
    padding-left: 5px;
    color: #223540;
    margin: 10px 0px;
}

#checker_modal .modal-header .btn-box{
	min-width: 50px;
    text-align: left;
    font-weight: 600;
    height: 20px;
    line-height: 20px;
    color: #223540;
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
}

#checker_modal .modal-header .btn-box .btn {
    font-size: 25px;
}

#checker_modal .modal-body {
    width: 100%;
    text-align: left;
    font-size: 1em;
    line-height: 20px;
	padding: 5px 10px;
    color: #223540;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 10px;    
}

#checker_modal .modal-body > div {
	width: 100%;
	padding: 5px;
}

#checker_modal .modal-body .title{
    min-width: 150px;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    height: 20px;
    line-height: 20px;
    padding-left: 10px;
    color: #223540;
    margin: 10px 0px;
    border-left: 3px solid #153A6E;
}

#checker_modal .modal-body .cont{
    display: flex;
    flex-direction: row;
    align-items: center;
	justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: center;
    width: 100%;
    height: 40px;
    margin: 10px 0px;
}

#checker_modal .modal-body .cont .sub-title {
    min-width: 50px;
    text-align: left;
    font-size: 16px;
	font-weight: 600;
}

#checker_modal .sub-title::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 6px;
    border-radius: 4px;
    width: 4px;
    height: 4px;
}

#checker_modal .modal-body .cont .select-box {
    height: 100%;
    min-width: 180px;
}

#checker_modal .modal-body .cont .select-box select {
    height: 40px;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
}

#checker_modal .modal-body .user-list-wrap {
	min-height: 420px;	
}

#checker_modal .modal-body .user-list-wrap .table {
    max-height: 300px;
    margin: 2px;
    border: 1px solid #ced4da;
    overflow: auto;
    overflow-x: hidden;
    font-size: 0.9em;
}

#checker_modal .modal-body .move-user-action-box {
	display: flex;
	justify-content: space-evenly;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
}

#checker_modal .modal-body .move-user-action-box .btn {
	font-size: 25px;
}

#checker_modal .modal-body .move-user-action-box .btn:hover {
    background: #E0E0E0;
}

#checker_modal .modal-body .checker-list-wrap {
	min-height: 300px;	
}

#checker_modal .modal-body .checker-list-wrap .table {
    max-height: 250px;
    margin: 2px;
	border: 1px solid #ced4da;
	overflow: auto;
    overflow-x: hidden;
    font-size: 0.9em;
}

#checkerUserTable .item-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    align-items: stretch;
    flex-wrap: nowrap;
}

#checkerUserTable .item-box .item{
    padding: 5px 0;
}

/* 위험성평가표 */
#factor_modal {
    border: 1px solid black;
}

#factor_modal .modal-content {
    max-height: 800px;
    overflow: auto;
}

#factor_modal .modal-header {
    width: 100%;
    text-align: left;
    font-size: 1.2em;
    line-height: 20px;
	padding: 5px 10px;
    color: #223540;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height: 50px;
}

#factor_modal .modal-header > .title{
    min-width: 150px;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    height: 20px;
    line-height: 20px;
    padding-left: 5px;
    color: #223540;
    margin: 10px 0px;
}

#factor_modal .modal-header .btn-box{
	min-width: 50px;
    text-align: left;
    font-weight: 600;
    height: 20px;
    line-height: 20px;
    color: #223540;
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
}

#factor_modal .modal-header .btn-box .btn {
    font-size: 20px;
}

#factor_modal .modal-body {
    width: 100%;
    text-align: left;
    font-size: 1em;
    line-height: 20px;
	padding: 5px 10px;
    color: #223540;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 10px;    
}

#factor_modal .modal-body > div {
	width: 100%;
	padding: 5px;
}

#factor_modal .modal-body .title{
    min-width: 150px;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    height: 20px;
    line-height: 20px;
    padding-left: 10px;
    color: #223540;
    margin: 10px 0px;
    border-left: 3px solid #153A6E;
}

#factor_modal .modal-body .cont{
    display: flex;
    flex-direction: row;
    align-items: center;
	justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: center;
    width: 100%;
    height: 40px;
	margin: 10px 0px;
}

#factor_modal .modal-body .cont .sub-title {
    min-width: 50px;
    text-align: left;
    font-size: 16px;
	font-weight: 600;
}

#factor_modal .sub-title::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 6px;
    border-radius: 4px;
    width: 4px;
    height: 4px;
}

#factor_modal .modal-body .cont .select-box {
    height: 100%;
    min-width: 180px;
}

#factor_modal .modal-body .cont .select-box select {
    height: 40px;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
}

#factor_modal .modal-body .user-list-wrap {
	min-height: 420px;	
}

#factor_modal .modal-body .user-list-wrap .table {
    max-height: 300px;
    margin: 2px;
    border: 1px solid #ced4da;
    overflow: auto;
    overflow-x: hidden;
    font-size: 0.9em;
}

#factor_modal .modal-body .factor-list-wrap {
	min-height: 300px;	
}

#factor_modal .modal-body .factor-list-wrap > .title-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#factor_modal .modal-body .factor-list-wrap .table {
    max-height: 250px;
    margin: 2px;
	border: 1px solid #ced4da;
	overflow: auto;
    overflow-x: hidden;
    font-size: 0.9em;
}

#factorUserTable .item-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    align-items: stretch;
    flex-wrap: nowrap;
}

#factorUserTable .item-box .item{
    padding: 5px 0;
}

/* 위험성평가 선택 모달 */
#factorDetail_modal {
    border: 1px solid black;
}

#factorDetail_modal .modal-content {
    max-height: 800px;
    overflow: auto;
}

#factorDetail_modal .modal-header {
    width: 100%;
    text-align: left;
    font-size: 1.2em;
    line-height: 20px;
	padding: 5px 10px;
    color: #223540;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height: 50px;
}

#factorDetail_modal .modal-header > .title{
    min-width: 150px;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    height: 20px;
    line-height: 20px;
    padding-left: 5px;
    color: #223540;
    margin: 10px 0px;
}

#factorDetail_modal .modal-header .btn-box{
	min-width: 50px;
    text-align: left;
    font-weight: 600;
    height: 20px;
    line-height: 20px;
    color: #223540;
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
}

#factorDetail_modal .modal-header .btn-box .btn {
    font-size: 20px;
}

#factorDetail_modal .modal-body {
    width: 100%;
    text-align: left;
    font-size: 1em;
    line-height: 20px;
	padding: 5px 10px;
    color: #223540;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 10px;    
}

#factorDetail_modal .modal-body > div {
	width: 100%;
	padding: 5px;
}

#factorDetail_modal .modal-body .title{
    min-width: 150px;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    line-height: 20px;
    padding-left: 10px;
    color: #223540;
    margin: 10px 0px;
    border-left: 3px solid #153A6E;
}

#factorDetail_modal .modal-body .cont{
    display: flex;
    flex-direction: row;
    align-items: center;
	justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: center;
    width: 100%;
    height: 40px;
	margin: 10px 0px;
}

#factorDetail_modal .modal-body .cont .sub-title {
    min-width: 50px;
    text-align: left;
    font-size: 16px;
	font-weight: 600;
}

#factorDetail_modal .sub-title::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 6px;
    border-radius: 4px;
    width: 4px;
    height: 4px;
}

#factorDetail_modal .modal-body .cont .select-box {
    height: 100%;
    min-width: 180px;
}

#factorDetail_modal .modal-body .cont .select-box select {
    height: 40px;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
}

#factorDetail_modal .modal-body .user-list-wrap {
	min-height: 1000px;	
}

#factorDetail_modal .modal-body .user-list-wrap .table {
    height: 100%;
    margin: 2px;
    border: 1px solid #ced4da;
    overflow: auto;
    overflow-x: hidden;
    font-size: 0.9em;
}

#factorDetail_modal .modal-body .factorDetail-list-wrap {
	min-height: 300px;	
}

#factorDetail_modal .modal-body .factorDetail-list-wrap .table {
    max-height: 250px;
    margin: 2px;
	border: 1px solid #ced4da;
	overflow: auto;
    overflow-x: hidden;
    font-size: 0.9em;
}

#factorDetailUserTable .item-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    align-items: stretch;
    flex-wrap: nowrap;
}

#factorDetailUserTable .item-box .item{
    padding: 5px 0;
}

/* 위험성 평가 적용 */

#risk-factor-item-box {
	 max-width: 100% !important;
    background: #FFF;
    display: block;
    width: 100%;
    padding: 15px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-size: 16px;
	overflow: auto;
	min-height: 300px !important;
}

#risk-factor-item-box .risk-factor-item {
    background: #E5E7ED;
    border-radius: 10px;
    border: 2px solid #636363;
    padding: 10px;
    margin-bottom: 20px;    
    color: #666;
}

.work-activity-box .title_box {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.work-activity-box .title_box > .title{
	text-align: left;
    font-size: 18px;
    height: 20px;
    line-height: 20px;
    color: #223540;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: 10px;
}

.work-activity-box > .content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: space-around;  
	margin-top: 10px;
	background: #ece8e8;
}

.work-activity-box .content .content-item-box {
	background: #FFF;
	display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;	
	margin-bottom: 15px;
}

.work-activity-box .content .content-item-box .item-title {
    min-width: 80px;
    width: 10%;
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
    background: #F1F3FA;
}

.work-activity-box .content .content-item-box .item-content {
    text-align: left;
    font-size: 16px;
    padding: 5px 10px;
    height: 40px;
    line-height: 30px;    
    background: #FFF;
    width: 100%;
	font-weight: bold;
}

.work-activity-box .content .content-add-item-box {	
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}

.work-activity-box .content .content-add-item-box > .risk-step-item {
    margin-bottom: 20px;
    background: #F1F3FA;
    border: 1px solid #636363;
    border-radius: 10px;
    padding: 5px;
}

.work-activity-box .content .content-add-item-box .item-title-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.work-activity-box .content .content-add-item-box .item-title-box .item-title {
    width: 100%;
    text-align: left;
    font-size: 0.8em;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    background: #ededed;
    padding-left: 10px;
}

.work-activity-box .content .content-add-item-box .item-title-box .item-btn-box {
    text-align: center;
    font-size: 16px;
    height: 40px;
    line-height: 30px;
	background: #ededed;
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.work-activity-box .content .content-add-item-box .item-content-box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}

.work-activity-box .content .content-add-item-box .item-content-box .item-content .content{
    text-align: left;
    font-size: 16px;
    padding: 5px 10px;
    background: #FFF;
}

.work-activity-box .content .content-add-item-box .item-content-box .content-sub-add-item-box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
   	padding: 0px 10px 10px 10px;
    background: #FFF;    
    border: 5px solid #e6c0c0;
}

.work-activity-box .content .content-add-item-box .item-content-box .content-sub-add-item-box .sub-title-box {
    width: 100%;
    text-align: left;
    font-size: 0.9em;
    font-weight: 600;
    border-left: 2px solid #153A6E;
    height: 20px;
    line-height: 20px;
    padding-left: 8px;
    color: #000;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: 15px 0px 0px 0px;
}

.work-activity-box .content .content-add-item-box .item-content-box .content-sub-add-item-box .sub-content-box {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #bebebe;
}

.work-activity-box .content .content-add-item-box .item-content-box .content-sub-add-item-box .content-management_method-box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    padding: 10px;
    background: #FFF;
    border: 3px solid #b3b3b3;
    margin-top: 10px;
}

.work-activity-box .content .content-add-item-box .item-content-box .content-sub-add-item-box .content-management_method-box .management_method-title-box {
    width: 100%;
    text-align: left;
    font-size: 0.9em;
    font-weight: 600;
    border-left: 2px solid #153A6E;
    height: 20px;
    line-height: 20px;
    padding-left: 8px;
    color: #000;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: 5px;
}


.work-activity-box .content .content-add-item-box .item-content-box .content-sub-add-item-box .content-management_method-box .management_method-box {
	margin-top: 10px;
}

.work-activity-box .content .content-add-item-box .item-content-box .content-sub-add-item-box .content-management_method-box .management_method-box .management_method_item {
	margin: 5px 0;	
}

.work-activity-box .content .content-add-item-box .item-content-box .content-sub-add-item-box .content-management_method-box .management_method-box .item-content {
    width: 100%;
}

.work-activity-box .content .content-add-item-box .item-content-box .content-sub-add-item-box .content-management_method-box .management_method-box .item-content .content {
    width: 100%;
}


/* 추가메모사항 */
.content_report_box #remark-item-box {
    height: 100%;
}

.content_report_box #remark-item-box #remark {
    max-width: 100% !important;
    background: #FFF;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-size: 16px;
	min-height: 300px !important;
}


#factorTable tr {
	cursor: pointer;
} 

.work-activity-box .content .content-add-item-box .item-content-wrap .content-sub-add-item-box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    padding: 10px;
    background: #F1F3FA;
}
	
.work-activity-box .content .content-add-item-box .item-content-wrap .content-sub-add-item-box .risk-item {
    padding: 10px;
    background: #E5E7ED;
    margin-bottom: 15px;
    border: 1px solid #636363;
    border-radius: 10px;
} 

.work-activity-box .content .content-add-item-box .item-content-wrap .item-content {
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    width: 100%;
}

.work-activity-box .content .content-add-item-box .item-content-wrap .item-content .title{  
    text-align: center;
    font-size: 0.8em;
    height: 40px;
    line-height: 40px;
    min-width: 80px;
}

.work-activity-box .content .content-add-item-box .risk-step-item .item-title-box > .item-title{
    background: transparent;
	font-size: 0.9em;
	height: 40px;
    line-height: 40px;
	color: #000;
}

.work-activity-box .content .content-add-item-box .risk-step-item .item-title-box > .item-btn-box {
	background: transparent;
} 

.work-activity-box .content .content-add-item-box .item-content-wrap > .item-content-box .item-content > .title {
	background: #F1F3FA;
}

.work-activity-box .content .content-add-item-box .item-content-wrap .item-content .content {
    text-align: left;
    font-size: 16px;
    padding: 5px 10px;
    background: #FFF;
    width: 100%;
    font-weight: 600;
}

.work-activity-box .content .content-add-item-box .item-content-wrap .item-content .content > div{ 
    font-weight: 600;
}

.work-activity-box .content .content-add-item-box .item-content-wrap .content-sub-add-item-box .sub-title-box {
    width: 100%;
    text-align: left;
    font-size: 0.9em;
    font-weight: 600;
    height: 30px;
    line-height: 30px;
    color: #000;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: 5px;
}

.work-activity-box .content .content-add-item-box .item-content-wrap .content-sub-add-item-box .sub-content-box {
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
}

.work-activity-box .content .content-add-item-box .item-content-wrap .content-sub-add-item-box .content-management_method-box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    padding: 10px;
    background: #F1F3FA;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #636363;
}

.work-activity-box .content .content-add-item-box .item-content-wrap .content-sub-add-item-box .content-management_method-box .management_method-box .management_method_item {
	margin: 5px 0;	
	border: 1px solid #b3b3b3;
}

.work-activity-box .content .content-add-item-box .item-content-wrap .content-sub-add-item-box .content-management_method-box .management_method-title-box {
    width: 100%;
    text-align: left;
    font-size: 0.9em;
    font-weight: 600;
    height: 20px;
    line-height: 20px;
    color: #000;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: 5px;
}

.work-activity-box .content .content-add-item-box .item-content-wrap .content-sub-add-item-box .content-management_method-box .management_method-box {
	margin-top: 10px;
}



.work-activity-box .content .content-add-item-box .item-content-wrap .content-sub-add-item-box .content-management_method-box .management_method-box .item-content {
    width: 100%;
}

.work-activity-box .content .content-add-item-box .item-content-wrap .content-sub-add-item-box .content-management_method-box .management_method-box .item-content .content {
    width: 100%;
}

